alabaster==0.7.12
ansimarkup==1.4.0
Babel==2.6.0
better-exceptions-fork==0.2.1.post6
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
docutils==0.14
h5netcdf==0.7.3
h5py==2.9.0
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
loguru==0.2.5
MarkupSafe==1.1.1
numpy==1.16.3
packaging==19.0
Pillow==6.0.0
Pygments==2.4.1
pyparsing==2.4.0
pytz==2019.1
requests==2.22.0
ruamel.yaml==0.15.96
scipy==1.3.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-programoutput==0.14
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tqdm==4.32.1
urllib3==1.25.3
