bathymetry.npy filter=lfs diff=lfs merge=lfs -text
dz.npy filter=lfs diff=lfs merge=lfs -text
ECMWFBB_dqdt.npy filter=lfs diff=lfs merge=lfs -text
ECMWFBB_qnet.npy filter=lfs diff=lfs merge=lfs -text
ECMWFBB_swf.npy filter=lfs diff=lfs merge=lfs -text
ECMWFBB_target_sst.npy filter=lfs diff=lfs merge=lfs -text
ECMWFBB_taux.npy filter=lfs diff=lfs merge=lfs -text
ECMWFBB_tauy.npy filter=lfs diff=lfs merge=lfs -text
lev_clim_salt.npy filter=lfs diff=lfs merge=lfs -text
lev_clim_temp.npy filter=lfs diff=lfs merge=lfs -text
lev_sss.npy filter=lfs diff=lfs merge=lfs -text
tidal_energy.npy filter=lfs diff=lfs merge=lfs -text
wind_energy_ncep.npy filter=lfs diff=lfs merge=lfs -text
ETOPO1_Bed_g_gmt4_NA.nc filter=lfs diff=lfs merge=lfs -text
ETOPO5_Bed_g_gmt4.nc filter=lfs diff=lfs merge=lfs -text
forcing_1deg_global.nc filter=lfs diff=lfs merge=lfs -text
ETOPO5_Ice_g_gmt4.nc filter=lfs diff=lfs merge=lfs -text
