name: Build CUDA extensions

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-20.04]
        python-version: [3.9]

    steps:
      - uses: actions/checkout@v2

      # make sure tags are fetched so we can get a version
      - run: git fetch --prune --unshallow --tags

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system requirements
        run: |
          sudo apt-get update
          sudo apt-get install nvidia-cuda-toolkit

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install cython
          python setup.py build_ext --inplace

      - name: Ensure GPU extensions have been built
        run: test -f veros/core/special/tdma_cuda_*.so
