name: Tests

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  test:
    name: Run tests

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-20.04]
        python-version: [3.6, 3.9]
        backend: [numpy, jax]

    env:
      PYOM2_DIR: /home/runner/pyom2
      OMPI_MCA_rmaps_base_oversubscribe: "1"
      OMPI_MCA_mpi_yield_when_idle: "1"

    steps:
      - uses: actions/checkout@v2

      # make sure tags are fetched so we can get a version
      - run: git fetch --prune --unshallow --tags

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Restore pip cache
        uses: actions/cache@v2
        id: pip-cache
        with:
          path: ~/.cache/pip
          key: ${{ matrix.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ matrix.os }}-pip-

      - name: Restore PyOM2 cache
        uses: actions/cache@v2
        id: pyom2-cache
        with:
          path: ~/pyom2/py_src/*.so
          key: ${{ matrix.os }}-${{ matrix.python-version }}

      - name: Setup Python environment
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          # need to install numpy here to get f2py
          pip install cython numpy

      - name: Install system requirements
        run: |
          sudo apt-get update
          sudo apt-get install libopenmpi-dev libpetsc-real3.12-dev
          echo "PETSC_DIR=/usr/lib/petscdir/petsc3.12/x86_64-linux-gnu-real" >> $GITHUB_ENV

      - name: Build PyOM2
        if: steps.pyom2-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p $PYOM2_DIR
          cp vendor/pyom2/pyOM2.1.0.tar.gz $PYOM2_DIR
          cp vendor/pyom2/pyOM2_site_specific $PYOM2_DIR/site_specific.mk_
          pushd $PYOM2_DIR
          tar xzf pyOM2.1.0.tar.gz
          make -C py_src -j 4 > /dev/null
          popd

      - name: Export PyOM2 paths
        run: |
          echo "PYOM2_LIB=$(readlink -f $PYOM2_DIR/py_src/pyOM_code.*.so)" >> $GITHUB_ENV
          echo "PYOM2_LIB_MPI=$(readlink -f $PYOM2_DIR/py_src/pyOM_code_MPI.*.so)" >> $GITHUB_ENV

      - name: Install Veros
        run: |
          pip install mpi4py
          pip install petsc4py==3.12 --no-deps
          if [ ${{ matrix.backend }} == "jax" ]
          then
            pip install mpi4jax
            pip install .[test,jax]
          else
            pip install .[test]
          fi

      - name: Run tests
        run: |
          pytest . -v --cov --pyom2-lib $PYOM2_LIB --backend ${{ matrix.backend }}

      - name: Upload coverage
        uses: codecov/codecov-action@v1
